body {
    height: 100vh;

    background-color: $page-bg-color;
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

input,
textarea {
    border: none;
    outline: none;
}
