body {
    height: 100vh;

    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

input,
textarea {
    border: none;
    outline: none;
}

.bg-dashboard {
    background-color: $dashboard-bg-color;
}
