.breadcrumbs {
    @include flex();

    font-size: 1.1rem;

    &__links {
        text-decoration: underline;
    }

    &__item {
        &--active {
            color: #6c757d;
        }

        &::before {
            content: "/";
            padding-left: 7px;

            font-size: 1.1rem;
            color: #6c757d;
        }

        &:first-of-type::before {
            content: "";
        }
    }
}
