.buttons {
    display: block;
    padding: 3px 10px;
    min-height: 1.6rem;
    box-sizing: content-box;

    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        @include bg-behaviour($primary-color, 15%);
    }

    &--danger {
        @include bg-behaviour($danger-color, 15%);
    }

    &--success {
        @include bg-behaviour($success-color, 15%);
    }

    &--delete {
        @include bg-behaviour($dark-theme-color, 15%);
    }

    &--success-text {
        @include color-behaviour($success-color);
    }

    &--danger-text {
        @include color-behaviour($danger-color, 15%);
    }

    &--delete-text {
        @include color-behaviour($dark-theme-color, 20%);
    }

    &--bg-no {
        padding: 0;

        background-color: transparent;
    }

    &--dropdown {
        color: $text-muted-color;
        background-color: transparent;
    }
}
