.buttons {
    display: block;
    padding: 5px 10px;

    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        @include bg-behaviour($primary-color, 15%);
    }

    &--danger {
        @include bg-behaviour($danger-color, 15%);
    }

    &--success {
        @include bg-behaviour($success-color, 15%);
    }

    &--delete {
        @include bg-behaviour($dark-theme-color, 15%);
    }

    &--dropdown {
        color: $text-muted-color;
        background-color: transparent;
    }
}
