.buttons {
    padding: 5px 10px;

    color: white;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        @include bg-behaviour($primary-color, 15%);
    }

    &--danger {
        @include bg-behaviour($danger-color, 15%);
    }

    &--success {
        @include bg-behaviour($success-color, 15%);
    }
}
