.cards {
    position: relative;
    min-height: 150px;
    margin-bottom: 45px;
    padding: 45px 25px 25px 25px;

    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);

    &--single {
        max-width: 40%;
    }

    &__body {
        @include flex($direction: column, $align: flex-end);
    }

    &__text {
        font-size: 1.7rem;
    }

    // Mixins
    &__titles {
        color: $text-muted-color;
        font-size: 1.2rem;
    }

    &__icons {
        position: absolute;
        top: -15%;
        left: 2%;
        padding: 15px 20px;

        color: white;
        border-radius: 10px;

        &--orange {
            background-color: #fbab7e;
            background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
        }

        &--orange-two {
            background-color: #fad961;
            background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
        }

        &--red {
            background-color: #ff873b;
            background-image: linear-gradient(147deg, #ff873b 0%, #ff2525 74%);
        }

        &--purple {
            background-color: #2191fd;
            background-image: linear-gradient(19deg, #2191fd 0%, #b721ff 100%);
        }

        &--blue {
            background-color: #8bc6ec;
            background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
        }
    }
}
