.pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: stretch;

    &--centered {
        margin: 0 auto;
    }

    &--small {
        max-width: 50px;
    }

    &__img {
        display: block;
        width: 100%;
    }
}
