.titles {
    text-transform: uppercase;

    &--transform-none {
        text-transform: none;
    }

    &--padding-bottom-none {
        padding-bottom: 0;
    }

    &--weight-normal {
        font-weight: 500;
    }

    &--to-right {
        text-align: right;
    }

    &__subtitle {
        font-size: 0.8em;
        color: $text-muted-color;
    }
}
