.titles {
    text-transform: uppercase;

    &--transform-none {
        text-transform: none;
    }

    &--weight-normal {
        font-weight: 500;
    }

    &--to-right {
        text-align: right;
    }
}
