.app {
    &__auth-form {
        max-width: 800px;
        margin-top: 15px;
        margin: 15px auto 0 auto;
        padding: 20px 10px;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);

        &--decorated {
            @include media("large") {
                display: grid;
                grid-template-columns: 60% auto;
                align-items: center;
            }
        }
    }

    &__register-form {
        max-width: 1000px;
        margin-top: 15px;
        margin: 15px auto 0 auto;
        padding: 20px 10px;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);
    }

    &__sections {
        max-width: 1000px;
        margin: 0 auto;

        &--columns-2 {
            display: grid;

            @include media("medium") {
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}
