.dashboard {
    @include flex();

    &__content {
        flex-grow: 1;
    }

    &__header {
        padding-bottom: 10px;
    }

    &__stats {
        padding-top: 50px;

        @include media("medium") {
            display: grid;
            grid-template-columns: repeat(3, minmax(175px, 1fr));
            gap: 20px;
        }
    }

    &__sections {
        &--two-columns {
            @include media("large") {
                display: grid;
                grid-template-columns: 60% auto;
                align-items: center;
            }
        }

        &--rounded-container {
            padding: 20px 10px;

            background-color: #fff;
            border-radius: 7px;
        }
    }

    // mixins
    &__titles {
        padding: 10px 0;

        color: $text-muted-color;
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
}
