.dashboard {
    @include flex();

    &__content {
        flex-grow: 1;
    }

    &__header {
        padding-bottom: 10px;
    }

    &__stats {
        padding-top: 50px;

        @include media("medium") {
            display: grid;
            grid-template-columns: repeat(3, minmax(175px, 1fr));
            gap: 20px;
        }
    }

    &__add-form {
        margin-top: 15px;
        padding: 20px 10px;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);

        @include media("large") {
            display: grid;
            grid-template-columns: 60% auto;
            align-items: center;
        }
    }

    // mixins
    &__titles {
        padding: 10px 0;

        color: $text-muted-color;
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
}
