.forms {
    padding: 20px;

    &--inline {
        display: grid;
        padding: 0;

        @include media("medium") {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }

    &--two-columns {
        @include media("medium") {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        }
    }

    &__required-info {
        color: red;
    }

    &__inline-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        align-content: flex-start;
    }

    &__fullsize-section {
        grid-column: 1/-1;
    }

    &__group {
        @include flex($direction: column);
        padding: 10px;
    }

    &__check {
        padding: 10px;
    }

    &__group-title {
        padding-bottom: 5px;
    }

    &__checkbox-title {
        padding-left: 5px;
    }

    &__input {
        padding: 10px;

        font-size: 1rem;
        background-color: #edf2f5;
        border-radius: 10px;
        transition: 0.2s linear;

        &--textarea {
            resize: none;
        }

        &--bordered {
            border: 1px solid lightgray;
        }

        &:focus {
            background-color: darken(#edf2f5, 10%);
        }
    }

    &__input-feedback {
        color: orange;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    &__buttons-group {
        @include flex($justify: space-between);
        padding: 10px;

        &--content-to-left {
            justify-content: flex-start;
            gap: 10px;
        }
    }
}
