.lists {
    &__item {
        @include flex($justify: stretch);

        &--labeled-vertical {
            flex-direction: column;
        }

        &--labeled-horizontal {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item-label {
        color: #000;
        font-weight: 700;
    }

    // mixins
    &__info-item {
        flex-grow: 1;
        margin: 5px 0;
    }
}
