.navigation {
    position: relative;
    @include flex($justify: space-between, $align: center);
    padding: 10px 20px;
    z-index: 999;

    color: $text-muted-color;

    // mixins
    &__hamburger {
        @include media("medium") {
            display: none;
        }
    }

    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        @include flex($direction: column);
        gap: 20px;
        padding: 15px;

        transform: scaleY(0);
        transform-origin: top;
        transition: 0.2s;

        font-size: 1.1rem;
        background-color: #fff;
        border-bottom: 1px solid lightgray;

        @include media("medium") {
            position: static;
            @include flex($align: center);
            gap: 30px;
            padding: 0;

            transform: scaleY(100%);
            background-color: transparent;

            border: none;
        }

        // actions
        .navigation__toggler:checked ~ & {
            transform: scaleY(1);
        }
    }
}
