.show {
    display: grid;
    grid-template-rows: auto;
    align-items: flex-start;
    gap: 20px;

    @include media("large") {
        grid-template-columns: 2fr 3fr;
    }

    @include media("extra-large") {
        grid-template-columns: 1fr 2fr;
    }

    &__main-info {
        padding: 25px;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);
    }

    &__main-info-group {
        &--text-centered {
            text-align: center;
        }
    }

    &__name {
        font-size: 1.4rem;
    }

    &__info {
        color: $text-muted-color;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__description {
        color: $text-muted-color;
    }

    &__data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: flex-start;
        padding: 25px;
        border-radius: 10px;

        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.15);
    }

    &__data-group {
        padding: 20px;

        &--full-size {
            grid-column: 1/-1;
        }
    }

    &__update {
        grid-column: 1/-1;
    }

    &__options {
        @include flex($align: center);
        gap: 10px;
    }

    // mixins
    &__headers {
        grid-column: 1/-1;

        border-bottom: 1px solid lightgray;
    }

    &__forms {
        padding: 0;
    }

    &__pictures {
        &--avatar {
            width: 100px;
            height: 100px;

            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__titles {
        &--group-titles {
            padding: 7px 0;

            color: $text-muted-color;
            font-size: 1rem;
            font-weight: 700 !important;
        }
    }

    &__buttons {
        padding: 5px;
    }

    &__icons {
        &--right-space {
            padding-right: 6px;
        }
    }

    &__lists {
        color: $text-muted-color;
    }
}
