.sidebar {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 999;

    transform: translateX(-100%);

    background-color: $dark-theme-color;
    color: $font-dark-bg;

    @include media("small") {
        position: static;
        max-width: 250px;
    }

    // mixins
    &__headers {
        padding: 25px;

        border-bottom: 1px solid gray;
    }

    &__titles {
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }
}
