.site {
    @include flex($direction: column);

    &__inner {
        display: grid;
        align-items: stretch;
        flex-grow: 1;
        width: 100%;
        max-width: $max-page-width;
        margin: 0 auto;
    }

    // mixins
    &__navigation {
        max-width: $max-page-width;
        margin: 0 auto;
        padding: 0 15px;
    }
}
