.site {
    &__inner {
        max-width: $max-page-width;
        margin: 0 auto;
    }

    // mixins
    &__navigation {
        max-width: $max-page-width;
        margin: 0 auto;
        padding: 0 15px;
    }
}
